.analizator__section{
    padding: 3%;
}
.analizator__title{
    font-size: 35px;
}
.description__container{
    max-width: 80%;
    margin: 0 auto;
}
.analizator__description{
    font-size: 24px;
    line-height: 1.5;;
}
li{
    list-style-type: none;
}
.panel-container{
    border: solid 1px #ccc;
    padding-top: 2%;
    padding-bottom: 2%;
}
.query__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
  }
  .form__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    font-size: 20px;
  }
  .radio{
    width: 15px;
  }
  .share__btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    width: 100px;
    height: 40px;
    background: #3871dc;
    border-radius: 5px;
    border: none;
  }
  .share__btn:hover{
    color: #000000;
  }
  .panel__header{
    display: inline-block;
    margin: 0 0 1% 2%;
    font-size: 24px;
  }
  .textArea__container {
    flex-shrink: 0;
  }
  .source__input{
    display: block;
    margin: 1% auto;
    border: 1px solid #ccc;
    height: auto;
    resize: vertical;
    min-height: 250px;
    min-width: 90%;
    font-size: 20px;
    background: #ececec;
    padding: 16px;
    line-height: 1.5;
    outline: none;
    box-shadow: 0px 1px 3px 3px rgba(0,0,0,0.20);
  }
 .query{
  min-height: 100%;
  margin: 1% auto;
 }
 .query__box{
    display: flex;
    justify-content: space-around;
 }
 .input__box{
  display:flex;
  padding: 8px;
  border: solid 1px #ccc;
  width: 80%;
 }
 .query__input{
  border: none;
  width: 100%;
  font-size: 20px;
  outline: none;
 }
 .prefix{
  font-size: 20px;
  font-weight: bold;
  color: #a5a5a5;
 }
 .primary__button{
  background: #3871dc;
  width: 100px;
  height: 40px;
  padding: 0 8px;
  font-weight: bold;
  font-size: 100%;
  color: #fff;
  border: none;
  border-radius: 6px;
 }
 .primary__button:hover{
  color: #000000;
 }