.filtered {
  text-decoration: line-through;
}
.result__container {
  border: solid 1px #ccc;
  padding: 15px;
  background: #f9f9fa;
  font-size: 18px;
}

details {
  max-width: 100%;
  overflow-y: auto;
  word-wrap: break-word;
}
summary {
  margin-bottom: 2%;
}

.origin__line-header {
  font-weight: 600;
}
.explain__stage,
.origin-line,
.result__section {
  border: solid 1px #ccc;
  padding: 6px;
  margin-top: 3%;
  margin-bottom: 2%;
  background: #f4f5f5;
}
.stage-expression {
  color: #0000ff;
}
.explain-section__header {
  font-weight: 600;
}
.explain-section__row-title {
  font-weight: bold;
}
.explain-section__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  max-width: 90%;
  margin: auto;
}
.explain-section__row-body {
  font-weight: 500;
  overflow: hidden;
}
.filtred__title{
  color: red;
  font-weight: 600;
}
.arrow{
  background: #ffffff;
  width: 100%;
}
